@import url('https://fonts.googleapis.com/css?family=PT+Serif|Roboto+Slab');
/* general */
body{
  background-color: #000;
  color: #eee;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab";
}

#cm{
background: black url("../img/childish-major-index-photo.jpg");
background-attachment: fixed;
background-size: auto;
background-position: center;
background-repeat: no-repeat;
}

h1{
  font-size: 30px;
  font-family: 'PT Serif', serif;
}

nav{
  position: fixed;
  width: 100%;
  top:0;
  height: auto;
  background-color:black;
  padding: 3px;
}
nav ul {
  list-style-type: none;
  padding-left: 0;
  text-align: right;
}
nav li {
  display: inline-block;
  margin-right: 40px;
  margin-top: 15px;
}
nav a {
  padding: 15px;
  text-decoration: none;
}

nav ul li a{
    color: #fff;
    font-size: 20px;
}
nav li a:hover {
  background-color:rgb(73, 75, 79);
}

nav li a:active {
  background-color:rgb(73, 75, 79,0.5);
}
footer {
  list-style-type: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: black;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer ul{
  margin:auto;
}
footer ul li {
  float: left;
  list-style-type: none;
  margin-left: 15px;
  margin-right: 15px;
}
footer ul li a {
  display:inline-block;
  color: #fff;
  text-align: center;
  padding:15px;
  text-decoration: none;
}
.logo-white{
  height: 48px;
  float: left;
  margin: 16px 48px;
}
#wrapper-music,#wrapper-bio, #wrapper-shop{
max-width: 960px;
margin: 100px auto;
}
#wrapper-shop a{

  color:#fff;
  transition: all 1.5s;
}
#wrapper-shop a:hover{
    color:red;
}
#wrapper-shop a:visited .fab{
    color:rgb(73, 75, 79);
}
h2{
  padding: 10px;
}
#music a i{
  padding: 15px;
}
#music a i, #new-releases a{
  color: #fff;
  transition: all 0.5s linear;
}

#music a:visited i , #new-releases a{
  color:rgb(73, 75, 79);
}

#music a:hover i , #new-releases a{
  color:red;
}

/* index */
#name-id{
  font-size: 100px;
  border: 1px solid #fff;
  text-decoration: none;
  position: absolute;
  top: 250px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
#name{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#dirt-road{
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 6px;
}
/* bio */
#bio{
    grid-area: bio;
    margin-top:0;
}
#window-photo{
  grid-area: window-photo;
}
.bio-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;
  grid-template-areas:
  "bio window-photo"
}
/* music */
.music-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 50px;
  grid-template-areas:
  "music-title music-title"
  "shine shine-des"
  "woo woo-des"
  "no no-des"
}

.music-grid h2 {
  grid-area: music-title;
}

.music-grid h3 {
  margin-top: 0;
}

#new-releases {
  grid-area: new-releases;
  text-align: center;
}
#new-releases img{
  display: block;
  margin: 5px auto;
}

iframe{
  padding-bottom: 10px;
  align-items: center;
}
.shine-art{
  display: block;
}
