@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:500|Cutive+Mono|Old+Standard+TT|Parisienne|Playfair+Display|Tangerine:700');
body{
  background-color: rgba(166,189,217);
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
}
h1{
  font-size: 65px;
  font-family: 'Parisienne', cursive;
  margin-bottom: 5px;
}
header p{
  margin:0;
  margin-bottom: 5px;
  font-size: 20px;
}

nav ul{
  list-style-type: none;
}
nav li{
  display: inline-block;
  text-align: center;
  margin-right: 15px;
}
 nav a{
  display: inline-block;
  background-color: #FFDFFB;
  padding: 4px;
  text-decoration: none;
}
nav a:hover{
  text-decoration: underline;
}
nav a:visited::after{

}
img {
   border:5px solid #021a40;
   border-radius: 50%;
   padding:1px;
}
h2{
  margin: 0;
  margin-bottom: 5px;
}
h3{
  margin: 0;
}

#edu p{
  margin: 0;
}
#leader p{
  margin: 0;
}
#work p{
  margin: 5px;
}
#skill p{
  margin: 0;
}
#wrapper{
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
}
#masthead {
  padding: 10px;
  padding-top: 0;
  padding-right: 0;
  border: 5px dotted #ccc;
  grid-area: masthead;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
}
#main-nav{
  grid-column-start: 1;
  grid-column-end: -1;
}

#edu{
  padding: 20px;
  border:5px dotted #8FCEFF;
  grid-area: edu;
  grid-column-start: 2;
  grid-column-end: -1;
}
#about{
  padding: 20px;
  border:5px dotted #FF9A6C;
  grid-area: about;
  grid-column-start: 1;
  grid-column-end: 2;
}
#work{
  padding: 20px;
  border: 5px dotted #DD30FF;
  grid-area: work;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end:7;
}

#leader{
  padding: 20px;
  border:5px dotted #1D9A6C;
  grid-area: leader;
  grid-column-start: 2;
  grid-column-end: -1;
}

#skills{
  padding: 20px;
  border:5px dotted rgba(251,147,201);
  grid-area: skills;
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 5;
  grid-row-end: 7;
}
#footer {
  grid-area: footer;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 7;
  grid-row-end: -1;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 270px 50px 400px 400px 400px 400px 50px;
  grid-gap: 20px;
  grid-template-areas:
  "masthead  masthead"
  "main-nav main-nav"
  "about edu"
  "work leader"
  "work skills"
  "work skills "
  "footer footer";
 }
 .info-grid{
   display: grid;
   grid-template-columns: 1fr 265px;
   grid-template-rows: 300px;
   grid-template-areas:
   "contact profile";
 }
.message {
  background-color: #333;
  color: #fff;
  padding: 10px;
}
