@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:500|Parisienne');
body{
  background-color: rgba(166,189,217);
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  color:#021a40;
}
body a{
  text-decoration: underline;
}
body a:hover{
  text-decoration: underline;
  color: blue;
}
body a:active{
  text-decoration: none;
  color: #fff;
}
body a:visited{
  text-decoration: underline;
  color: #40020e;
}
.message a{
  color:blue;
}
h1{
  font-size: 65px;
  font-family: 'Parisienne', cursive;
  margin:0;
}
header p{
  margin:0;
  margin-bottom: 5px;
  font-size: 20px;
}
nav{
  border: 5px dotted #021a40;
}
nav ul{
  list-style-type: none;
}
nav li{
  display: inline-block;
  text-align: center;
  margin-right: 15px;
}

nav a {
  padding: 4px;
}
 nav a:hover{
  text-decoration: none;
}

img {
   border:5px dotted #021a40;
   border-radius: 50%;
   padding:1px;
}
h2{
  margin: 0;
  margin-bottom: 5px;
}
h3{
  margin: 0;
}
.message {
  background-color: #333;
  color: #fff;
  padding: 10px;
}
.message a{
  color: #ccc;
}
.message a:hover{
  color: blue;
}
 #skills ul{
  padding-top: 0;
  margin-top: 0;
 }
#edu p{
  margin: 0;
}
#leader p{
  margin: 0;
}
#work p{
  margin: 0;
}
#skill p{
  margin: 0;
}
#wrapper{
  max-width: 960px;
  min-width: 320px;
  margin: 0 auto;
}
#masthead {
  padding: 10px;
  padding-top: 0;
  padding-right: 0;
  grid-area: masthead;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
}
#main-nav{
  grid-column-start: 1;
  grid-column-end: -1;
}

#edu{
  padding: 20px;
  grid-area: edu;
  grid-column-start: 2;
  grid-column-end: -1;
}
#about{
  padding: 20px;
  grid-area: about;
  grid-column-start: 1;
  grid-column-end: 2;
}
#work{
  padding: 20px;
  grid-area: work;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end:7;
}

#leader{
  padding: 20px;
  grid-area: leader;
  grid-column-start: 2;
  grid-column-end: span 1;
}

#skills{
  padding: 20px;
  grid-area: skills;
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 5;
  grid-row-end: 7;
}
#footer {
  grid-area: footer;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 7;
  grid-row-end: -1;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 270px 50px 400px 400px 400px 400px 50px;
  grid-gap: 20px;
  grid-template-areas:
  "masthead  masthead"
  "main-nav main-nav"
  "about edu"
  "work leader"
  "work skills"
  "work skills "
  "footer footer";
 }
 .info-grid{
   display: grid;
   grid-template-columns: 1fr 265px;
   grid-template-rows: 300px;
   grid-template-areas:
   "contact profile";
 }
